.ipynb_checkpoints

# ---------- Python ----------
__pycache__/
*.pyc
venv/
.env

# ---------- Node ----------
node_modules/
dist/
build/

# ---------- ML ----------
*.h5
*.pt
dataset/
data/

# ---------- Logs ----------
*.log

# ---------- OS ----------
.DS_Store
Thumbs.db